.menu-button1{
-fx-background-color: #FFB6C1;
-fx-background-radius:5;
-fx-font-size:13px;
}

.menu-button2{
-fx-background-color: #FFB6C1;
-fx-background-radius:5;
-fx-font-size:13px;

}

.menu-button3{
-fx-background-color: #FFB6C1;
-fx-background-radius:5;
-fx-font-size:13px;
}

.menu-button4{
-fx-background-color: #FFB6C1;
-fx-background-radius:5;
-fx-font-size:13px;
}

.fondo{
-fx-background-color: #F9E0C7;}
